body {
    background-color: rgb(35, 235, 9);
    color: darkblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1, h2 {
    text-align: center;
}

.container {
    text-align: center;
}

.home-image {
    width: 50%;
}